name: Reusable Docker Build & Push

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
        description: "Nome da imagem (ex: minha-app)"
      dockerfile_path:
        required: false
        type: string
        default: "./Dockerfile"
        description: "Caminho para o Dockerfile"
      tag_latest:
        required: false
        type: boolean
        default: true
        description: "Se deve taggear como latest além do número da build"
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Gerar Tags
        id: meta
        run: |
          IMAGE_ID="${{ secrets.DOCKERHUB_USERNAME }}/${{ inputs.image_name }}"
          
          TAGS="$IMAGE_ID:v${{ github.run_number }}"
          
          if [ "${{ inputs.tag_latest }}" = "true" ]; then
            TAGS="$TAGS,$IMAGE_ID:latest"
          fi
          
          echo "As tags geradas serão: $TAGS"
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

      - name: Build e Push da imagem
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile_path }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
