name: Publish to AWS ECR

on:
    workflow_call:
        inputs:
            runs_on:
                type: string
                required: false
                default: ubuntu-latest
                description: 'Specifies the type of runner on which the job will execute. Defaults to the latest Ubuntu runner.'
            environment:
                type: string
                required: false
                default: ''
                description: 'Defines the environment context for the job, such as production or staging.'
            downloaded_artifact_name:
                type: string
                required: false
                description: 'Identification name of the artifact to be downloaded.'
            downloaded_artifact_path:
                type: string
                required: false
                default: ''
                description: 'Sets the directory name where will be downloaded.'
            dockerfile:
                type: string
                required: false
                default: ./Dockerfile
                description: 'Specifies the path to the Dockerfile used for building the Docker image.'
            docker_build_context:
                type: string
                required: false
                default: ./
                description: 'Defines the build context directory for the Docker build process.'
            docker_push_ecr:
                type: boolean
                required: false
                default: true
                description: 'Determines whether the built Docker image should be pushed to AWS ECR.'
            docker_build_args:
                type: string
                required: false
                default: ''
                description: 'Comma separated list of build-time variables. Example: "KEY1=VAL1,KEY2=VAL2"'
            repo_name:
                type: string
                required: false
                default: ''
                description: 'Image repository name. Example: xxx.dkr.ecr.region.amazonaws.com/<repo-name>'
            keep_only_latest_images:
                type: number
                required: false
                default: 10
                description: 'Keeps only the latest images in the AWS ECR repository'
            hadolint_no_fail:
                type: boolean
                required: false
                default: true
                description: 'Configures the Hadolint action to fail the workflow on linting errors if set to false.'
            aws_role_last_name:
                type: string
                required: true
                description: 'If you created an AWS IAM role ARN in the format arn:aws:iam::AWS_ACCOUNT_ID:role/AWS_ROLE_LAST_NAME, specify only the last name AWS_ROLE_LAST_NAME.'
            multi_platform:
                type: boolean
                required: false
                default: false
                description: 'Indicates whether to build for multiple platforms (linux/amd64,linux/arm64) when set to true.'


jobs:    
    publish:
        if: ${{ github.ref_name == 'dev' || github.ref_name == 'stage' || github.ref_name == 'main' || github.ref_name == 'qa' }}
        runs-on: ${{ inputs.runs_on }}
        environment: ${{ inputs.environment }}
        env:
            IMAGE_REPO: "${{ github.repository }}/${{ github.ref_name }}"
            URI_ECR: "${{ vars.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com"
        steps:
            - name: Print Environment Variables
              run: |
                echo "Printing all environment variables:"
                env | sort

            - uses: actions/checkout@v4
            
            - uses: actions/download-artifact@v4
              with:
                name: ${{ inputs.downloaded_artifact_name }}
                path: ${{ inputs.downloaded_artifact_path }}
              if: ${{ inputs.downloaded_artifact_path != '' }}            
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ inputs.aws_role_last_name }}
                aws-region: ${{ vars.AWS_REGION }}
            
            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2

            - name: Customizing image repo
              run: echo "IMAGE_REPO=${{ inputs.repo_name }}" >> $GITHUB_ENV
              if: ${{ inputs.repo_name != '' }}

            - name: Ensure ECR Repository Exists
              run: |
                aws ecr describe-repositories --repository-names "${{ env.IMAGE_REPO }}" || \
                aws ecr create-repository --repository-name "${{ env.IMAGE_REPO }}"

            - name: Set ECR Lifecycle Policy
              run: |
                aws ecr put-lifecycle-policy --repository-name "${{ env.IMAGE_REPO }}" --lifecycle-policy-text '{
                    "rules": [
                        {
                            "rulePriority": 1,
                            "description": "Keep only the ${{ inputs.keep_only_latest_images }} latest images",
                            "selection": {
                                "tagStatus": "any",
                                "countType": "imageCountMoreThan",
                                "countNumber": ${{ inputs.keep_only_latest_images }}
                            },
                            "action": {
                                "type": "expire"
                            }
                        }
                    ]
                }'

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
              if: ${{ inputs.multi_platform }}
  
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              if: ${{ inputs.multi_platform }}

            - name: Set platforms
              run: |
                echo "PLATFORMS=$( [ "${{ inputs.multi_platform }}" == "true" ] && echo 'linux/amd64,linux/arm64' || echo 'linux/amd64' )" >> $GITHUB_ENV

            - name: Convert docker_build_args to multiline
              if: ${{ inputs.docker_build_args != '' }}
              run: |
                echo "DOCKER_BUILD_ARGS<<EOF" >> $GITHUB_ENV
                echo "${{ inputs.docker_build_args }}" | tr ',' '\n' >> $GITHUB_ENV
                echo "EOF" >> $GITHUB_ENV
            
            - name: Build and Push Docker image to ECR
              uses: docker/build-push-action@v4
              with:
                context: ${{ inputs.docker_build_context }}
                push: ${{ inputs.docker_push_ecr }}
                platforms: ${{ env.PLATFORMS }}
                build-args: ${{ env.DOCKER_BUILD_ARGS }}
                tags: |
                    ${{ env.URI_ECR }}/${{ env.IMAGE_REPO }}:v${{ github.run_number }}
                    ${{ env.URI_ECR }}/${{ env.IMAGE_REPO }}:latest
